@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-foreground-dark: hsl(var(--foreground-dark));
  --color-green-text: hsl(var(--green-text));
  --color-surface: hsl(var(--surface));
  

  --font-sans: "Architects Daughter", sans-serif;
  --font-outfit: "Outfit", system-ui, -apple-system, "Segoe UI", "Roboto", sans-serif;
  
  --text-normal: 18px;
  --text-contest-title: 24px;
  --text-time: 14px;

  --radius-normal: 20px;

  
}

@layer base {
    :root {
        --background: 220, 14%, 8%;
        --foreground: 0, 0%, 100%;
        --foreground-dark: 227, 10%, 18%;
        --green-text: 180, 46%, 53%;
        --surface: 230, 9%, 13%;

    }
    body {
        @apply bg-background text-foreground font-outfit text-normal;
    }
}
